h1{
    color: red;
}
.container{
    width: 30%;
    height: 500px;
    background: red;
    border-radius: 20px;
}
.login{
    padding-left: 40px;
    padding-top: 40px;

}
label{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
input[type="text"]{
    width: 80%;
    height: 30px;
    border-radius:10px;
}
input[type="password"]{
    width: 80%;
    height: 30px;
    border-radius:10px;
}
input[type="submit"]{
   width: 80%;
   height: 30px;
   margin-top: 20px;
   background: blue;
   color: white;
   border-radius:10px;
}

i{
    font-size: 50px;
    color: red;
}